.jumbotron {
  padding-bottom: 80px;
  margin-bottom: 0;
  background-color: #fff;
  p:last-child {
    margin-bottom: 0;
  }
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.header {
  padding-bottom: 80px;
}